k8s-local/secrets/
k8s-local/backend/secret.yaml
k8s-local/frontend/secret.yaml
k8s-local/database/secret.yaml
*.log
*.tmp
*.bak
*.swp
*~
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.*
terraform/.terraform.lock.hcl
terraform/crash.log
terraform/user-data-scripts/*.sh
.vscode/
.idea/
.DS_Store
**/test-*.yaml
**/dev-*.yaml
k8s-local/backend/secret.yaml
k8s-local/database/secret.yaml
k8s-local/secrets/backend-docker-secret.yaml
k8s-local/*.crt
k8s-local/*.key
*.pem
*.zip
*.rar
terraform/backend.tf
terraform/terraform.tfvars
terraform/tfplan
terraform/*.svg
terraform/*.png