k8s/secrets/
k8s/backend/secret.yaml
k8s/frontend/secret.yaml
k8s/database/secret.yaml
*.log
*.tmp
*.bak
*.swp
*~
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.*
terraform/.terraform.lock.hcl
terraform/crash.log
terraform/user-data-scripts/*.sh
.vscode/
.idea/
.DS_Store
**/test-*.yaml
**/dev-*.yaml
k8s/backend/secret.yaml
k8s/database/secret.yaml
k8s/secrets/backend-docker-secret.yaml
*.pem